* {
    border-style: solid;
    border-width: 1px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
  }
body{
    display: flex;
    flex-direction: row;    
}
div{
    display: flex;
    flex-direction: column;
}

.left-container{
    width: 40%;
    border-color: red;
    justify-content: space-between;
}

.left-container .logo{
    position: relative;
    top: 20%;
    flex-direction: row;
    justify-content: center;
}
.left-container .footer{
    align-items: center;
}

.right-container{
    width: 60%;
}

.right-container > *{
    flex-grow: 1;
}

.flex-row{
    flex-direction: row;
}
form{
    height: 40%;
}


.text-container{
}





.right-container > .footer{
    height: 10px;
    align-items: center;
}